body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  display: block;
  width: max-content;
  padding: 5px 10px;
  cursor: pointer;
  background-color: lightgreen;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

button:is(:hover,:active){
  background-color: darkseagreen;
  border: 2px solid darkseagreen;
}
